VisaoComputador/.vs/VisaoComputador/v15/.suo
VisaoComputador/.vs/VisaoComputador/v15/Browse.VC.db
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/Browse.VC.opendb
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/.suo
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/Browse.VC.db
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/ipch/AutoPCH/607c97e7876cdd07/MAIN.ipch
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/ipch/AutoPCH/a884e2bc6754e36a/LABELING.ipch
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/ipch/AutoPCH/244a9b1b953e452a/CONVERSORS.ipch
