VisaoComputadorWin/VisaoComputadorWin/VisaoComputadorWin.vcxproj.user
VisaoComputadorWin/VisaoComputadorWin/VisaoComputadorWin.vcxproj.filters
VisaoComputadorWin/VisaoComputadorWin/VisaoComputadorWin.vcxproj
VisaoComputadorWin/VisaoComputadorWin/Debug/vc141.pdb
VisaoComputadorWin/VisaoComputadorWin/Debug/vc141.idb
VisaoComputadorWin/VisaoComputadorWin/Debug/main.obj
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoComputadorWin.log
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoComputadorWin.Build.CppClean.log
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoCom.C3A21CF1.tlog/unsuccessfulbuild
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoCom.C3A21CF1.tlog/link.write.1.tlog
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoCom.C3A21CF1.tlog/link.read.1.tlog
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoCom.C3A21CF1.tlog/link.command.1.tlog
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoCom.C3A21CF1.tlog/link-rc.write.1.tlog
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoCom.C3A21CF1.tlog/link-rc.read.1.tlog
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoCom.C3A21CF1.tlog/link-cvtres.write.1.tlog
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoCom.C3A21CF1.tlog/link-cvtres.read.1.tlog
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoCom.C3A21CF1.tlog/VisaoComputadorWin.lastbuildstate
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoCom.C3A21CF1.tlog/CL.write.1.tlog
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoCom.C3A21CF1.tlog/CL.read.1.tlog
VisaoComputadorWin/VisaoComputadorWin/Debug/VisaoCom.C3A21CF1.tlog/CL.command.1.tlog
VisaoComputadorWin/VisaoComputadorWin/Debug/Utils.obj
VisaoComputadorWin/VisaoComputadorWin/Debug/Segmentators.obj
VisaoComputadorWin/VisaoComputadorWin/Debug/MorphologicalOperators.obj
VisaoComputadorWin/VisaoComputadorWin/Debug/Filters.obj
VisaoComputadorWin/VisaoComputadorWin/Debug/Engine.obj
VisaoComputadorWin/VisaoComputadorWin/Debug/Conversors.obj
VisaoComputadorWin/VisaoComputadorWin.sln
VisaoComputadorWin/Debug/VisaoComputadorWin.pdb
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/ipch/AutoPCH/607c97e7876cdd07/MAIN.ipch
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/ipch/AutoPCH/5dc2531621a36959/MORPHOLOGICALOPERATORS.ipch
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/ipch/AutoPCH/577e00db1b8d3c5/FILTERS.ipch
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/ipch/AutoPCH/3044fdbb1a2373e0/ENGINE.ipch
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/ipch/AutoPCH/244a9b1b953e452a/CONVERSORS.ipch
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/ipch/AutoPCH/1ac8b58c57acac29/UTILS.ipch
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/Browse.VC.opendb
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/Browse.VC.db
VisaoComputadorWin/.vs/VisaoComputadorWin/v15/.suo
VisaoComputador/.vs/VisaoComputador/v15/Browse.VC.db
VisaoComputador/.vs/VisaoComputador/v15/.suo
